@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin:  0;
  padding: 0;
  box-sizing:  border-box;
  color: white;
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body{
  max-width: 100vw;
  background-color: #0B1B31;
  overflow-x: hidden;
}

::selection{
  background-color: #33cf96;
  color: white;
}

.landing-sec{
  height: 100vh !important;
  width: 100vw;
  padding: 4vh 0 0  0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#blob-1{
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

#floor-grad{
  width: 100vw;
  position: absolute;;
}

nav{
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 1vh 0;
  align-items: center;
  justify-content: center;
}

.landing-sec button{
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0 5vw;
  font-size: 1.3rem;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}

.heading{
  width: fit-content;
  height: min-content;
  text-align: center;
  top: 40%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a, button{
  cursor: pointer;
}

nav button:hover{
  border-bottom: 2px solid white;
}

h1{
  font-size: 6rem;
  margin-bottom: 2vh;
  width: 100%;
  flex-wrap: nowrap;
  width: max-content;
}

.heading p{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 20px;
  max-width: 50%;
}

span{
  font-size: inherit;
  background: -webkit-linear-gradient(0deg, #B63FF0, #11E0E0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#floor{
  width: 100vw;
  /* justify-self: flex-end; */
  position: relative;
  bottom: 0;
}

.floor-grad{
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 30vh;
  border-radius: 50%;
  background-color: rgba(17, 224, 224, 0.4);
  z-index: -1;
  filter: blur(800px);
  -webkit-filter: blur(800px);
}

#land-left{
  position: absolute;
  bottom: 2vh;
  width: 50vw;
  left: 0;
  max-height: 45vh;
}

#land-right{
  position: absolute;
  bottom: 2vh;
  width: 35vw;
  right: 0;
  max-height: 70vh;
}

.social-med-btn-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 30%;
  row-gap: 4vh;
}

.social-med-btn-container button{
  aspect-ratio: 1/1;
  width: 5vw;
  background: url('./static/Polygon\ 1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex; justify-content: center; align-items: center;
}

.about-sec{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2vw;
  overflow: hidden;
  padding: 0 5vw;
}

.about-sec .text-container{
  width: 40vw;
}

.about-sec .text-container h1{
  font-size: 5rem;
  margin-bottom: 2vh;
}

.about-sec .text-container p{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 20px;
}

.about-sec span{ 
  background: -webkit-linear-gradient(0deg, #11E0E0, #01F437); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes oscillation {
  0% {background-position-y: 0;}
  50%{background-position-y: 15px;}
  100%{background-position-y: 0;}
  /* 25% {background-position-y: 15px;}
  50% {background-position-y: -10px;}
  100% {background-position-y: 0;} */
}

#eth {
  display: none;
}

.about-sec .img-container{
  height: 65vh;
  max-width: 50vw;
  background: url('./static/eth.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  column-gap: 3vw;
  /* animation-name:  oscillation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-timing-function: ease-in-out; */
}

#eth-right{
  z-index: -5; 
  position: relative;
  /* left: 50px;  */
}

#eth-left{
  position: relative;
}

.blob2{
  width: 30vw;
  position: absolute;
  top: 170vh;
  bottom: 0;
  height: 40vh;
  border-radius: 50%;
  background-color: #7461C0;
  z-index: -1;
  filter: blur(800px);
  -webkit-filter: blur(800px);
}

.partner-tape{
  position: relative;
  border-radius: 10px;
  aspect-ratio: 1664/250;
  width: 100vw;
  background-image: url('./static/tape.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  padding: 2.5% 5%;
}

.partner-tape .card{
  background-color: #0B1B31;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
}

.partner-tape .card img{
  width: 50%;
  height: auto;
}

#tape1{
  margin-left: 75vw;
  margin-bottom: 9vh;
}

#tape2{
  margin-left: -75vw;
}

#globe-img{
  position: relative;
  transform: translate(-10%, -22%);
}

.blob3{
  width: 25vw;
  height: 200vh;
  position: absolute;
  top: 280vh;
  right: 0vw;
  border-radius: 50%;
  background-color: #7cf6da77;
  filter: blur(800px);
  -webkit-filter: blur(800px);
}

.partner-tapes {
  overflow-x: hidden;
}

.services-sec{
  height: 300vh;
  width: 100vw;
  display: flex;
  position: relative;
  /* align-items: center; */
  overflow: hidden;
  padding: 0;
}

.service-text-container{
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw;
}

.mobile_view_services_img{
  display: none;
}

.service-text-container h1{
  font-size: 5rem;
  margin-bottom: 2vh;
}

.service-text-container p{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 20px;
}

.service-text-container span{ 
  background: -webkit-linear-gradient(0deg, #11E0E0, #01F437); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-img-container {
  display: flex;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0px;
  right: 0px;
}

#frame_top_img {
  width: 15vw;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
}

.rectangular-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  width: 35vw;
  height: 70vh;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(39, 145, 120, 0.70) 0%, rgba(95, 82, 154, 0.70) 100%);
  backdrop-filter: blur(27.5px);
}

.rectangular-frame img{
  max-width: 80%;
  max-height: 80%;
}

#frame_bottom_front_img{
  width: 10vw;
  z-index: 10;
  position: absolute;
  bottom: 3vh;
  right: 12vw;
}

#frame_bottom_back_img{
  width: 17vw;
  z-index: -10;
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact-sec {
  height: auto;
  width: 100vw;
}

/* Responsiveness  */

@media screen and (max-width: 1300px) {
  .heading h1{
    font-size: 5rem;
  }

  .heading p, .about-sec .text-container p{
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 1080px) {
  .about-sec {
    flex-direction: column;
    row-gap: 5vh;
  }

  .about-sec .img-container {
    max-width: 100vw;
    height: 30vh;
    order: -1;
  }

  .about-sec .text-container {
    width: 80vw;
  }

  .about-sec .text-container h1 {
    margin: auto;
  }

  .about-sec .text-container p {
    text-align: center;
  }

  #eth-right, #eth-left {
    display: none;
  }

  #eth {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .social-med-btn-container {
    top: 35%;
  }

  .services-img-container {
    display: none;
  }

  .service-text-container{
    width: 80vw;
    height: 100vh;
    align-items: center;
  }

  .service-text-container p{
    text-align: center;
  }

  .mobile_view_services_img{
    display: block;
    height: 30vh;
    max-width: 80vw;
    border-radius: 15px;
    margin: 5vh 0;
  }
}

@media screen and (max-width: 750px) {
  nav button{
    font-size: 1rem !important;
  }

  .heading h1, .about-sec .text-container h1{
    font-size: 4rem;
  }

  .heading p, .about-sec .text-container p{
    font-size: 1rem;
    line-height: 2rem;
  }

  .floor-grad{
    height: 20vh;
  }

  .social-med-btn-container {
    top: 40%;
  }
}

@media screen and (max-width: 600px) {
  .heading h1, .about-sec .text-container h1{
    font-size: 2.5rem;
  }

  .service-text-container h1{
    font-size: 3rem;
  }

  .service-text-container p{
    font-size: 1rem;
    line-height: 2rem;
  }
}
