@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin:  0;
  padding: 0;
  box-sizing:  border-box;
  color: white;
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body{
  max-width: 100vw;
  background-color: #000;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

canvas{
  position: fixed;
  z-index: -10000;
  width: 100%;
  height: 100%;
}

::selection{
  background-color: #33cf96;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

/*--------------------------------------------------------------
# Preloader styles starts here
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000;
  display: flex;
}

#preloader object {
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
}
/*--------------------------------------------------------------
# Preloader styles ends here
--------------------------------------------------------------*/

.landing-sec{
  height: 100vh !important;
  width: 100vw;
  padding: 4vh 0 0  0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#blob-1{
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

nav{
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 1vh 0;
  align-items: center;
  justify-content: center;
}

#logo{
  height: 100%;
  position: absolute;
  left: 5vw;
}

.landing-sec button{
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0 5vw;
  font-size: 1.3rem;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}

.heading{
  width: fit-content;
  height: min-content;
  text-align: center;
  top: 40%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a, button{
  cursor: pointer;
}

nav button:hover{
  border-bottom: 2px solid white;
}

h1{
  font-size: 6rem;
  margin-bottom: 2vh;
  width: 100%;
  flex-wrap: nowrap;
  width: max-content;
}

.heading p{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 20px;
  max-width: 100%;
}

span{
  font-size: inherit;
  background: -webkit-linear-gradient(0deg, #FDC830, #F86620);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span::selection{
  background-color: rgba(0, 0, 0, 0);
}

#span_1{
  background: -webkit-linear-gradient(0deg, #F86620, #FDC830);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#span_2{
  background: -webkit-linear-gradient(0deg, #FDC830, #FDC830);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#span_3{
  background: -webkit-linear-gradient(0deg, #FDC830, #FDC830);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#span_4{
  background: -webkit-linear-gradient(0deg, #FDC830, #F86620);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#floor{
  width: 100vw;
  /* justify-self: flex-end; */
  position: relative;
  bottom: 0;
}

.floor-grad{
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 30vh;
  border-radius: 50%;
  background-color: rgba(17, 224, 224, 0.4);
  z-index: -1;
  filter: blur(800px);
  -webkit-filter: blur(800px);
}

#land-left{
  position: absolute;
  bottom: 2vh;
  max-width: 50vw;
  left: 3vw;
  max-height: 50vh;
}

#land-right{
  position: absolute;
  bottom: 2vh;
  max-width: 35vw;
  right: 0;
  max-height: 70vh;
}

.social-med-btn-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 30%;
  row-gap: 4vh;
  z-index: 10;
}

.social-med-btn-container button{
  aspect-ratio: 1/1;
  width: 5vw;
  background: url('./static/Polygon\ 1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex; justify-content: center; align-items: center;
}

.blob2{
  width: 30vw;
  position: absolute;
  top: 170vh;
  bottom: 0;
  height: 40vh;
  border-radius: 50%;
  background-color: #7461C0;
  z-index: -1;
  filter: blur(800px);
  -webkit-filter: blur(800px);
}

.partner-tapes h1, .contact-heading{
  position: relative;
  font-size: 3.5rem;
  margin: 20vh auto 2vh;
  max-width: 80vw;
  text-align: center;
  line-height: 1;
}

.partner-tape{
  position: relative;
  border-radius: 10px;
  aspect-ratio: 1664/250;
  width: 100vw;
  background-image: url('./static/tape.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  padding: 2.5% 6%;
  margin-top: 9vh;
  margin-bottom: 9vh;
}

.card{
  background-color: #000;
  height: 100%;
  width: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
}

.card img{
  width: 80%;
  max-height: 100%;
}

#tape1{
  left: 75vw;
}

#tape2{
  right: 75vw;
}

#globe-img{
  position: relative;
  transform: translate(-10%, -22%);
}

.blob3{
  width: 25vw;
  height: 200vh;
  position: absolute;
  top: 280vh;
  right: 0vw;
  border-radius: 50%;
  background-color: #7cf6da77;
  filter: blur(800px);
  -webkit-filter: blur(800px);
}

.partner-tapes {
  overflow-x: hidden;
}

.services-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.service-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.s-right{
  flex-direction: row-reverse;
}

.service-text-container{
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.st-left{
  margin: 0 6vw 0 7vw;
}

.st-right{
  margin: 0 7vw 0 6vw;
}

.service-text-container h1{
  position: relative;
  max-width: 100%;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 2vh;
}

.showRight-animate{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000 !important;
  transition: 0.5s;
}

.show-animate{
  width: 0;
}

.service-text-container p{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 20px;
}

.services-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 100vh;
}

.si-right{
  margin-right: 7vw;
}

.si-left{
  margin-left: 7vw;
}

.services_img{
  max-width: 40vw;
  max-height: 90%;
}

.video_container_heading{
  position: relative;
  font-size: 3.5rem;
  margin: 5vh auto 2vh;
  max-width: 80vw;
  text-align: center;
  line-height: 1;
  background: -webkit-linear-gradient(0deg, #FDC830, #F86620);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow-x: hidden;
}

.video_container video{
  width: 40vw;
  height:22.5vw;
  margin: 5vh 5vw;
  border-radius: 20px;
}

.content_market_place_sec{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_market_place_sec h1{
  position: relative;
  font-size: 3.5rem;
  line-height: 1;
  margin-top: 5vh;
  margin-bottom: 1vh;
  max-width: 60vw;
  text-align: center;
}

.content_market_place_sec p{
  color: #b4b4b4;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 5vh;
  max-width: 60vw;
  text-align: center;
}

#content_market_place_img{
  width: 70vw;
}

.contact-sec {
  height: auto;
  width: 100vw;
}

.floating-telegram-icon {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  width: 50px;
  height: auto;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

.floating-meet-btn {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1000;
  width: max-content;
  height: auto;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

.floating-meet-btn a button {
  background: #F2B63C;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  color: #000;
  font-weight: 700;
}

#contact-heading-div{
  display: flex;
  margin-top: 10vh;
}

#calendly_img{
  width: 30vw;
  margin-left: 12.5vw;
}

.contact-heading {
  width: 40vw;
  margin: auto 12.5vw auto 5vw;
  text-align: left;
}

.slider {
  height: 30vh;
  position: relative;
  margin: auto;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider::before,
.slider::after{
  position:absolute;
  /* background-image:linear-gradient(to right,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); */
  content:'';
  height:100%;
  width:25%;
  z-index:2;
  pointer-events:none;
}
.slider::before{
  left:0;
  top:0;
}
.slider::after{
  right:0;
  top:0;
  transform:rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track-1 {
  width: auto;
  height: 100%;
  display: flex;
  animation: scroll1 30s linear infinite;
  justify-content: space-between;
}

.slide-track-2 {
  width: auto;
  height: 100%;
  display: flex;
  animation: scroll2 30s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 20vw;
  max-height: 100%;
  display: grid;
  place-items: center;
  transition:0.5s;
  cursor:pointer;
  margin: 0 1vw;
}

.slide img{
  max-height: 100%;
  max-width: 100%;
}

@keyframes scroll1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-22vw * 5));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(calc(-22vw * 5));
  }
  100% {
    transform: translateX(0);
  }
}

/* Responsiveness  */

@media screen and (max-width: 1300px) {
  .heading h1{
    font-size: 5rem;
  }

  .heading p, .about-sec .text-container p{
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .heading p span.cursor {
    height: 1.5rem;
  }

  .slide{
    margin: 0 3vw;
  }

  @keyframes scroll1 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-26vw * 5));
    }
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateX(calc(-26vw * 5));
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 1080px) {
  .social-med-btn-container {
    top: 35%;
  }

  .partner-tapes h1, .contact-heading {
    font-size: 2.7rem;
  }

  .service-container{
    flex-direction: column;
  }

  .services-img-container {
    height: 40vh;
    width: 80vw;
    margin: 5vh auto;
  }

  .services_img{
    max-width: 100%;
    max-height: 100%;
  }

  .service-text-container{
    width: 80vw;
    height: 60vh;
    align-items: center;
    margin: 0 10vw;
  }

  .service-text-container h1, .service-text-container p{
    text-align: center;
  }

  .content_market_place_sec h1, .content_market_place_sec p{
    max-width: 70vw;
  }

  .slide{
    margin: 0 4vw;
  }

  @keyframes scroll1 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-28vw * 5));
    }
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateX(calc(-28vw * 5));
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 750px) {
  nav button{
    font-size: 1rem !important;
  }

  .heading h1, .about-sec .text-container h1{
    font-size: 4rem;
  }

  .heading p, .about-sec .text-container p{
    font-size: 1rem;
    line-height: 2rem;
  }

  .floor-grad{
    height: 20vh;
  }

  .social-med-btn-container {
    top: 40%;
  }

  #floor{
    bottom: 5vh;
  }

  .partner-tapes h1, .contact-heading{
    font-size: 2.5rem;
  }

  .partner-tape{
    width: 150vw;
    column-gap: 3%;
    padding: 5% 4%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  .card{
    width: 24vw;
    padding: 0 5px;
  }

  #content_market_place_img{
    width: 90vw;
  }

  .content_market_place_sec h1{
    max-width: 90vw;
    font-size: 3rem;
  }

  .video_container_heading{
    max-width: 90vw;
    font-size: 3rem;
  }

  .video_container{
    grid-template-columns: 1fr;
  }
  
  .video_container video{
    width: 80vw;
    height: 45vw;
    margin: 5vh 10vw;
  }

  .content_market_place_sec p{
    max-width: 90vw;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .social-med-btn-container button{
    background: none;
  }

  #calendly_img{
    display: none;
  }

  .contact-heading {
    width: auto;
    margin: 2vh auto;
    text-align: center;
  }

  .slider {
    height: 15vh;
  }
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 1rem;
  }

  #logo{
    display: none;
  }

  .heading h1, .about-sec .text-container h1{
    font-size: 2.5rem;
  }

  .heading p{
    max-width: 90%;
  }

  .service-text-container h1{
    font-size: 3rem;
  }

  .service-text-container p{
    font-size: 1rem;
    line-height: 2rem;
  }

  .partner-tapes h1, .contact-heading{
    font-size: 2rem;
  }

  .video_container_heading{
    font-size: 2rem;
  }

  .content_market_place_sec h1{
    font-size: 2rem;
  }

  #break_before_typeword{
    display: block;
  }

  .slider {
    height: 10vh;
  }

  .slide{
    margin: 0 5vw;
  }

  .slider::before,
  .slider::after{
    background-image:linear-gradient(to right,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  }

  .slide-track-1 {
    animation: scroll1 10s linear infinite;
  }
  
  .slide-track-2 {
    animation: scroll2 10s linear infinite;
  }

  @keyframes scroll1 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-30vw * 5));
    }
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateX(calc(-30vw * 5));
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 300px) {
  .service-text-container h1{
    font-size: 2.5rem;
  }

  .social-med-btn-container{
    display: none;
  }
}

/* Tool-tip Styles */

[data-tooltip] {
  --arrow-size: 5px;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + var(--arrow-size));
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%,  calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size); /* CSS triangle */
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}
/* 
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}
/*
  That's it for the basic tooltip.

  If you want some adjustability
  here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + var(--arrow-size));
  bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
  border-width: var(--arrow-size) 0px var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
  transform: translateY(50%) scaleX(1);
}
